<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <record id="client_moroso_management_main_menu" model="ir.ui.menu">
        <field name="name">Gestión Morosos</field>
        <field name="sequence">10</field>
        <field name="web_icon">client_moroso_management,static/description/icon.png</field>
    </record>

    <record id="action_morosos_tree" model="ir.actions.act_window">
        <field name="name">Clientes Morosos</field>
        <field name="res_model">res.partner</field>
        <field name="view_id" ref="view_partner_tree_morosos"/>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('customer_rank', '>', 0)]</field>
    </record>

    <menuitem id="menu_morosos"
              name="Clientes Morosos"
              parent="client_moroso_management_main_menu"
              sequence="10"
              action="action_morosos_tree"
              groups="client_moroso_management.group_moroso_manager"/>
</odoo>