<!-- client_moroso_management/views/menu.xml -->
<odoo>
    <!-- Menú principal (aplicación) -->
    <record id="client_moroso_management_main_menu" model="ir.ui.menu">
        <field name="name">Gestión Morosos</field>
        <field name="sequence">10</field>
        <field name="icon"/>
        <field name="web_icon">client_moroso_management,static/description/icon.png</field>
        <field name="groups_id" eval="[]"/>
        <!-- Se quita la referencia a base.module_category_sales_management,
             y no se obliga a usar nuestra categoría,
             porque 'application=True' en el manifest ya crea la App. -->
    </record>

    <!-- Acción de ventana para visualizar solo los contactos morosos -->
    <record id="action_morosos_tree" model="ir.actions.act_window">
        <field name="name">Clientes Morosos</field>
        <field name="res_model">res.partner</field>
        <field name="view_mode">tree,form</field>
        <field name="domain">[('moroso','=', True)]</field>
        <field name="context">{}</field>
    </record>

    <!-- Submenú que llama a la acción anterior -->
    <menuitem id="menu_morosos"
              name="Clientes Morosos"
              parent="client_moroso_management_main_menu"
              sequence="10"
              action="action_morosos_tree"
              groups="client_moroso_management.group_moroso_manager"/>
</odoo>
